*{
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

#contenido {
    width: 500px;
    margin: 0 auto;
    clear: left;
}

#galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plan {
    width: 23%;
    margin-bottom: 20px;
    padding-bottom: 1px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}

.plan img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}