@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lilita One', sans-serif;
}

body{
    padding-top: 70px;
}

:root{
    --color1: #e36414;
    --color2: #0f4c5c;
    --color3: #ffffff;
}

.container{
    width: 100%;
    background-color: var(--color1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0;
}

#logo{
    height: 70px;
    width: 15%;
}

#menu{
    width: 80%;
}

#items{
    display: flex;
    
    width: inherit;
    list-style: none;

}

#items li{
    padding: 52px 20px 0px 20px;
}

li>a{
    color: var(--color3);
    text-decoration: none;
    
}


#items li:hover{
    background: #ff7c2a;
    
}

.sect{
    margin: 0 auto;
    
}

.sect .barra{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color2);
    padding: 0px 0px 0px 0px;
}

.sect h2{
    color: white;
}

.sect .barrita{
    background-color: var(--color1);
    border-radius: 12px;
    padding: 10px 40px 10px 40px;
    width: 300px;
    text-align: center;
    height: 100%;
}

.cont{
    width: 1300px 50px;
    margin: 70px 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: space-between;
}


.cont .caja {
    width: 30.3%;
    height: 200px;
    border: 2px #000 solid;
    margin: 5px 0.5% ;
    border-radius: 12px;
}

footer{
    background-color: var(--color2);
    color: var(--color3);
    text-align: center;
    font-size: 12px;
}