@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --celeste-1: #234459;
    --celeste-2: #3C7499;
    --celeste-3: #5AAEE6;
    --celeste-4: #94C1FF;
    --azul-1: #012E40;
    --azul-3: #026773;
    --negro: #000;
    --gris-obscuro: #8c8c8c;
    --gris: #d9d9d9;
    --blanco2: #F8F8F8;
    --blanco: #fff;
}

body{
    font-family: Mulish, sans-serif;
    background-color: var(--gris-nuevo);
    margin: 0;
    padding: 0;
}

.titulo {
    text-align: center;
    margin-top: 30px;
}

.titulo h1 {
    font-size: 60px;
    color: var(--azul-3); 
    font-family: 'Montserrat Subrayada', sans-serif;
}

.cabeza {
    text-align: center;
    margin-top: 40px; 
}

.imagenes {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
    padding: 20px;
}

.box {
    width: 300px;
    text-align: center; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 10px;
}

.box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 50%; 
    transition: transform 0.3s ease-in-out;
}

.image-text {
    margin-top: 10px; 
    font-size: 1.2rem; 
    color: var(--color1); 
    font-weight: bold;
}

.box:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.box img:hover {
    transform: scale(1.1); 
}

/* Sección acerca */
#acerca {
    margin-top: 50px; 
}

#acerca .acerca-container {
    text-align: center;
    padding: 90px 20px;
    background-color: var(--celeste-2);
}

#acerca p {
    margin: 16px 0px;
    color: var(--color3);
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--color2);
}

/* Sección info */
#info {
    margin-top: 50px; 
}

#info .info-container {
    text-align: center;
    padding: 90px 20px;
    background-color: var(--azul-3);
}

#info p {
    margin: 16px 0px;
    color: var(--blanco);
    font-size: 1.5rem;
    font-weight: bold;
}

/* Sección características */
#caracteristicas {
    margin-top: 50px; 
}

#caracteristicas .caracteristicas-container {
    text-align: center;
    padding: 20px 12px;
}

#caracteristicas ul {
    list-style: none;
}

#caracteristicas li {
    margin: 16px 0px;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 768px) {
    .titulo h1 {
        font-size: 40px;
    }

    .imagenes {
        justify-content: space-around;
    }

    .box {
        width: 250px;
    }

    .image-text {
        font-size: 1rem;
    }

    #acerca .acerca-container,
    #info .info-container {
        padding: 60px 20px;
    }

    #acerca p,
    #info p {
        font-size: 1.2rem;
    }

    #caracteristicas li {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .titulo h1 {
        font-size: 30px;
    }

    .imagenes {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 100%;
        margin-bottom: 20px;
    }

    #acerca .acerca-container,
    #info .info-container {
        padding: 40px 20px;
    }

    #acerca p,
    #info p {
        font-size: 1rem;
    }

    #caracteristicas li {
        font-size: 1rem;
    }
}
