/* Estilos de style admin css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f6f9;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #012E40;
    padding: 10px 20px;
    color: #fff;
    position: relative; /* Necesario para que los elementos absolutos se posicionen con respecto a este contenedor */
}

#logo {
    height: 50px;
}

header h1 {
    position: absolute; /* Permite el posicionamiento con respecto al header */
    left: 50%; /* Ajusta este valor para mover el h1 horizontalmente */
    transform: translateX(-50%); /* Centra el h1 en relación a la posición left */
    font-size: 1.8em; /* Ajusta el tamaño si es necesario */
    text-align: center;
}

/* La sección de navegación permanece igual */
header nav {
    margin-left: auto; /* Empuja el nav a la derecha */
}

header nav a {
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-grow: 1; /* Permite que el contenido principal crezca para empujar el footer hacia abajo */
}

.product-column {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 30%;
}

.product-column h2 {
    text-align: center;
    margin-bottom: 15px;
}

.product-list {
    display: flex;
    flex-direction: column;
}

.product-item {
    background-color: #e6eef3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}



/* Estilos del index.css*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');

:root {
    --celeste-1: #234459;
    --celeste-2: #3C7499;
    --celeste-3: #5AAEE6;
    --celeste-4: #94C1FF;
    --azul: #1d3557;
    --azul-1: #012E40;
    --azul-3: #026773;
    --negro: #000;
    --gris-obscuro: #8c8c8c;
    --gris: #d9d9d9;
    --gris-nuevo: #f5f5f5;
    --blanco2: #F8F8F8;
    --blanco: #fff;
    --color1: #333;
    --colo2: #555;
    --rojo: #e63946;
    --color3: #ddd;
}

* {
    padding: 0;
    margin: 0;
    font-family: Mulish;
    font-size: 1em;
}

#header-container {
    width: 100%;
    background-color: var(--azul-1);
    display: flex;
    align-items: center; 
    position: fixed;
    top: 0;
    padding: 10px 0; 
    height: 70px;
    z-index: 100;
}

#logo {
    height: auto;
    width: 50%;
    padding-left: 20%;
}

#pages {
    display: flex;
    justify-content: flex-end;
}

#pages ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

#pages li {
    text-align: center;
}

#pages button {
    background-color: var(--azul-1);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15px;
}

#pages button:hover {
    background-color: var(--celeste-2);
}

#pages a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--blanco);
}

#pages i {
    color: var(--blanco);
    font-size: 24px;
    margin-bottom: 5px;
}

#pages h2 {
    color: var(--blanco);
    font-size: 16px;
    margin: 0;
}

body {
    padding-top: 6.2%;
    background-color: var(--gris-nuevo);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#body-container {
    margin: 0 200px;
    margin-bottom: 60px;
    flex-grow: 1;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--gris);
    position: sticky;
    border-radius: 10px;
    height: 50px;
}

.barra h2 {
    font-family: Montserrat Subrayada;
    color: var(--azul-3);
    font-size: 1.6em;
}

footer {
    background-color: var(--azul-1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    margin-top: auto;
}

footer h3 {
    color: var(--blanco);
    font-size: 0.9em;
}
